<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'layout', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'frontpage', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <ul class="nav nav-pills">
        <li role="presentation" id="home"><a href="/">Home</a></li>
        <li role="presentation" id="about"><a href="/about">About</a></li>
        <li role="presentation" id="contact"><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= yield %>
    </div>
  </div>
</body>
</html>
