<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'seed', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'seed', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.1.0/jquery.sidebar.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="col-md-12" id="header">
      <div class="col-md-2 col-md-offset-1" id="logo">
        <div class="col-md-9 col-md-offset-1">
          <a href="/seed"><img src="/images/seed_syngenta.png" id="logo"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
        <div class="col-md-9 col-md-offset-1"
          <h4 id="time"><%=Time.now.strftime("%A, %B %-d, %Y")%></h4>
        </div>
      </div>
  <!--  </div>
  </div>-->
  <div class="row">
    <div>
      <div class="col-md-12" id="header">
        <div class="col-md-10 col-md-offset-1">
          <ul class="nav nav-pills">
            <li role="presentation" id="product"><a href="/seed/product">Product</a></li>
            <li role="presentation" id="pallet"><a href="/seed/pallet">Pallet</a></li>
            <li role="presentation" id="transaction"><a href="/seed/transaction">Transaction</a></li>
            <li role="presentation" id="treatment"><a href="/seed/treatment">Treatment</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="left-sidebar">
    Testing</br>
    This too
  </div>
  <div class="body">

  <div id="outer-body">
        <%= yield %>
  </div>


  </div>
  <div class="right-sidebar"> Right Test</div>
  <div class="footer"></div>
</body>
</html>
