<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'seed', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'seed', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.1.0/jquery.sidebar.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="body">
    <div id="time"><%=Time.now.strftime("%A, %B %-d, %Y")%></div>
    <ul class="nav nav-pills">
      <li role="presentation" id="product"><a href="/seed/product">Product List</a></li>
      <li role="presentation" id="pallet"><a href="/seed/pallet">Pallet Lookup</a></li>
      <li role="presentation" id="transaction"><a href="/seed/transaction">Transaction</a></li>
      <li role="presentation" id="treatment"><a href="/seed/treatment">Treatment</a></li>
    </ul>
  </div>
  <div class="left-sidebar">
    <a href="/seed"><div class="left-title">
      <p id="logo">Seed Database</p></br>

    </div></a>
  </div>
  <div class="body">

  <div id="outer-body">
        <%= yield %>
  </div>


  </div>
  <div class="right-sidebar">

  </div>
  <div class="footer"></div>
</body>
</html>
